@import './base';
@import './components/header';
@import './components/footer';
@import './utilscss/border1px';
@import './components/order';

.ordercheck-content {
  position: relative;
  top: pxToRem(88);
  width: 100%;
  background-color: #f2f2f2;
  height: 100vh;
}

.order-address {
  position: relative;
  height: pxToRem(214);
  line-height: pxToRem(214);
  background-color: #fff;
  & .addr-icon {
    display: inline-block;
    width: pxToRem(37);
    height: pxToRem(46);
    margin-left: pxToRem(30);
    background: url("../images/addr.png") no-repeat;
    background-size: pxToRem(37) pxToRem(46);
  }

  & .order-user-info {
    display: inline-block;
    font-size: pxToRem(32);
    color: #323232;
    & .user-id {
      position: absolute;
      top: pxToRem(-40);
      margin-left:  pxToRem(28);
    }
    & .user-phone {
      position: absolute;
      top: pxToRem(-30);
      right: pxToRem(110);
    }
  }

  & .order-user-addr {
    position: absolute;
    //top: pxToRem(-30);
    margin-left:  pxToRem(28);
    margin-top:  pxToRem(32);
    font-size: pxToRem(24);
    color: #323232;
  }
  & .addr-edit {
    display: inline-block;
    position: absolute;
    right: pxToRem(34);
  }
  & .order-addr-edit {

    display: inline-block;
    width: pxToRem(46);
    height: pxToRem(46);
    background: url("../images/orderback.png") no-repeat;
    background-size: pxToRem(46) pxToRem(46);
  }
}

.ordercheck-ms-pos,
.ordercheck-attr-pos {
  margin-top: pxToRem(24);
}

.ordercheck-titl {
  width: 100%;
  height: pxToRem(84);
  line-height: pxToRem(84);
  background-color: #fff;
  @include border-dpr(bottom, 1px, #f2f2f2);
  & span {
    margin-left: pxToRem(54);
    font-size: pxToRem(28);
    color: #323232;
  }
}

.ordercheck-ls {
  position: relative;
  width: 100%;
  height: pxToRem(208);
  background-color: #fff;
  //line-height: pxToRem(208);

  & .ordercheck-pic {
    position: absolute;
    left: pxToRem(54);
    width: pxToRem(148);
    height: pxToRem(208);
    line-height: pxToRem(208);

    //@include border-dpr(style, 1px, #ff5400);
    & .ordercheck-chopic {
      width: pxToRem(142);
      height: pxToRem(138);
      padding-top: pxToRem(10);
      border-radius: pxToRem(15);
      border: 1px solid #757575;
      display: inline-block;
      text-align: center;
      vertical-align: middle;
    }
    & i {
      display: inline-block;
      width: pxToRem(130);
      height: pxToRem(130);
      background: url("../images/gooddetails-img.png") no-repeat;
      background-size: pxToRem(130) pxToRem(130);
    }
  }

  & .ordercheck-txt {
    position: absolute;
    left: pxToRem(234);
    & .ordercheck-t1 {
      padding-top: pxToRem(58);
      font-size: pxToRem(30);
      color: #323232;
    }
  }
}

.ordercheck-attr-p {
  padding-top: pxToRem(14);
  padding-left: pxToRem(54);
}
.ordercheck-attr-ls {
  position: relative;
  width: 100%;
  height: pxToRem(224);
  line-height: pxToRem(224);
  background-color: #fff;
  & p {
    line-height: 200%;
    font-size: pxToRem(24);
    color: #757575;
  }
}


